fastapi==0.115.12
fastapi-cli==0.0.7
autogen-agentchat==0.6.1
uvicorn==0.34.2
SQLAlchemy==2.0.35
psycopg2-binary
alembic
python-dotenv==1.0.1
pydantic==2.11.7
openai
autogen-ext==0.6.1
reportlab~=4.4.1
beautifulsoup4~=4.12.3
fpdf~=1.7.2
pdf2image~=1.17.0
pdfkit~=1.0.0
Jinja2~=3.1.4
pillow~=11.0.0
pdfplumber~=0.11.7
pyautogen~=0.9.0
tiktoken
pgvector[sqlalchemy]
PyPDF2
python-docx
sentence-transformers
autogen-agentchat
msal

